<div class="pt-5 container">
  <h2 class="text-center pt-5 pb-5">Voici comment me contacter</h2>
  <div class="row">
<div class="card bg-dark col align-self-center" style="width: 40rem;" >
  <i class="fas fa-user text-info fa-2x pt-3 pb-5"></i>
  <div class="card-body">
    <ul>
      <li><a href="mailto:1822493@claurendeau.qc.ca" ><i class="fas fa-envelope text-info fa-2x px-5 ml-5"></i></a></li>
      <li><a href="https://twitter.com/claurendeau" target="_blank"><i class="fab fa-twitter text-info fa-2x px-5 ml-5"></i></a></li>
      <li><a href="https://www.facebook.com/CegepAndreLaurendeau/" target="_blank"><i class="fab fa-facebook-f  text-info fa-2x px-5 ml-5"></i></a></li>
      <li><a href="https://www.instagram.com/cegepandrelaurendeau/?hl=en" target="_blank"><i class="fab fa-instagram  text-info fa-2x px-5 ml-5"></i></a></li>
      <li><a href="https://ca.linkedin.com/school/cegep-andre-laurendeau/" target="_blank"><i class="fab fa-linkedin-in  text-info fa-2x px-5 ml-5"></i></a></li>
    </ul>
</div>
</div>
</div>
</div>
 
