<h2 class="pt-3" style="text-align: center;">Voici mes jeux favoris du moment</h2>


<div class="row">


  <div class="col-lg-4 col-sm-10 mb-5 pt-5">
    <div class="card bg-dark">
      <a href="https://playspellbreak.com/fr" target="_blnak"><img [src]="['assets/images/spellbreak.jpg']" class="card-img-top"></a>
      <div class="card-body"></div>
      <div class="card-title">
        <h3 class="text-info">Spellbreak</h3>
      </div>
      <div class="card-subtitle">
        <p class="leard text-info">Appuyez sur l'image pour en apprendre plus.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-10 mb-5 pt-5">
    <div class="card bg-dark">
      <a href="https://www.rocketleague.com/" target="_blnak"><img [src]="['assets/images/rl.jpg']" class="card-img-top"></a>
      <div class="card-body"></div>
      <div class="card-title">
        <h3 class="text-info">Rocket League</h3>
      </div>
      <div class="card-subtitle">
        <p class="leard text-info">Appuyez sur l'image pour en apprendre plus.</p>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-sm-10 mb-5 pt-5">
    <div class="card bg-dark">
      <a href="https://blog.counter-strike.net/" target="_blnak"><img [src]="['assets/images/csgo.jpg']" class="card-img-top"></a>
      <div class="card-body"></div>
      <div class="card-title">
        <h3 class="text-info">CS:GO</h3>
      </div>
      <div class="card-subtitle">
        <p class="leard text-info">Appuyez sur l'image pour en apprendre plus.</p>
      </div>
    </div>
  </div>


</div>