<div class="fixed-bottom bg-dark" style="height : 70px; display: inline;" >
    <ul class="center">
        <li><a href="https://twitter.com/claurendeau" target="_blank"><i class="fab fa-twitter  text-info fa-2x px-2 pt-2 px-5"></i></a></li>
        <li><a href="https://www.facebook.com/CegepAndreLaurendeau/" target="_blank"><i class="fab fa-facebook-f  text-info fa-2x px-2 pt-2 px-5"></i></a></li>
        <li><a href="https://www.instagram.com/cegepandrelaurendeau/?hl=en" target="_blank"><i class="fab fa-instagram  text-info fa-2x px-2 pt-2 px-5"></i></a></li>
        <li><a href="https://ca.linkedin.com/school/cegep-andre-laurendeau/" target="_blank"><i class="fab fa-linkedin-in  text-info fa-2x px-2 pt-2 px-5"></i></a></li>
    </ul>
</div>
